.mail, h6{
    outline: none !important;
    text-decoration: none !important;
    padding: 2px 1px 0 !important;
    color: #8E8E8E !important;
  }
  #externalLink{
      text-decoration: none;
      color: aliceblue;
  }
  #externalLink:hover {
      color: black !important
  }

  .text{
      text-align: center;
  }