.mail {
  outline: none !important;
  text-decoration: none !important;
  padding: 2px 1px 0 !important;
  color: #8e8e8e !important;
}
#externalLink {
  text-decoration: none;
  color: aliceblue;
}
#externalLink:hover {
  color: black !important;
}

.text {
  text-align: center;
  outline: none !important;
  text-decoration: none !important;
  padding: 2px 1px 0 !important;
  color: #8e8e8e !important;
}
